/**
 * _base.scss
 */

$cream: #F1D4AF;

* {
  @include box-sizing(border-box);
}

body {
  background: $cream;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 40px auto;
  max-width: 95%;
  width: 540px;
}


li {
  margin-bottom: 15px;
}