/**
 * _typography.scss
 */
$banquette: #774F38;
$strawberry: #E08E79;

body {
  font: 400 18px/1.5em 'Droid Sans', Arial, sans-serif;
  color: $banquette;
}

p {
  margin-bottom: 1.5em;
}

small {
  color: $strawberry;
  font-size: 0.8em;
}